<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="/static/js/main.js"></script>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    <p>Имя: {{ user_config['username'] }}</p>
    <p>Пользователи в локальной сети:</p>
    <table class="users-table">
        <tr>
            <td>Имя</td>
            <td>Тип</td>
            <td>Подключен</td>
        </tr>
        <tr>
            <td>Максим Максимов</td>
            <td>Ученик</td>
        </tr>

    </table>
    <a id="221" onclick="updateLocalUsersData()">Обновить</a>
</body>
</html>