{% extends 'base_page.html' %}

{% block main_content %}
<h2 class="center">Пользователи в локальной сети:</h2>
<table class="wide-table" id="usersTable">
  <thead>
    <tr>
      <th>Имя</th>
      <th>Тип</th>
      <th>Подключен</th>
    </tr>
  </thead>
  <tbody id="usersList">
    <tr>
        <td>   </td>
        <td>   </td>
        <td>   </td>
    </tr>
  </tbody>
</table>
<h2 class="inactive center" id="usersNotFound">Не найдены...</h2>
<a onclick="updateLocalUsersData()">Обновить</a>
{% endblock %}