<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
    <form class="auth-form" action="" method="POST">
        <input type="text" placeholder="Имя" name="username" spellcheck="false">
        <div class="radio-list">
            <div class="radio">
                <input type="radio" id="user_type_1" name="user_type" value="0" checked>
                <label for="user_type_1">УЧЕНИК</label>
            </div>
            <div class="radio">
                <input type="radio" id="user_type_2" name="user_type" value="1">
                <label for="user_type_2">УЧИТЕЛЬ</label>
            </div>
        </div>
        <button type="submit">Войти</button>
    </form>
</body>
</html>